@import "variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// with flex properties
body,
.adviceContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: $Dark-Blue;
  display: flex;
  height: 100vh;
  width: 100vw;
  .adviceContainer {
    background-color: $Dark-Grayish-Blue;
    width: 500px;
    height: 200px;
  }
}
