@import "variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// with flex properties
body,
.adviceContainer,
.adviceButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// Same code
.adviceMessage,
.adviceTitle {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: $Dark-Blue;
  display: flex;
  height: 100vh;
  width: 100vw;
  .adviceContainer {
    padding: 10px;
    background-color: $Dark-Grayish-Blue;
    width: 400px;
    height: 200px;
    border-radius: 25px;
    .adviceTitle {
      margin-top: -60px;
      font-size: 10px;
      color: $Neon-Green;
      letter-spacing: 2px;
      font-weight: 600;
      animation: display 1.5s linear;
    }
    .adviceMessage {
      margin-top: 20px;
      color: $Light-Cyan;
      font-weight: 800;
      text-align: center;
      animation: display 1.5s linear;
    }
    .adviceDivider {
      margin-top: 20px;
      width: 80%;
    }
  }
  .adviceButtonContainer {
    margin-top: -20px;
    background-color: $Neon-Green;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .adviceButton {
    width: 1.2rem;
  }
  .attribution {
    margin-top: 100px;
  }

  // transition css
  .adviceTransition {
    margin-top: 20px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid $Neon-Green;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 100%;
    }
    75% {
      opacity: 100%;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0%;
    }
  }
  @keyframes display {
    0% {
      opacity: 0%;
    }
    25% {
      opacity: 100%;
    }
    100% {
      opacity: 100%;
    }
  }
}

.hide {
  display: none;
}
